<div class="panel panel-info">
	<div class="panel-heading">
		<h4>Beacons</h4>
	</div>
	<div class="panel-body">
		<div ng-controller="BeaconCtrl">
		
			<div class="pull-right">
				<!--a href="#!/beacons/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="glyphicon glyphicon-plus"></span></a-->
			</div>
			
		
			<section>
		        <ul class="nav nav-tabs">
		            <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Pesquisa</a></li>
		            <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Resultado</a></li>
		        </ul>
		        
		        <div ng-show="isSet(1)">
		        
			<!-- SEARCH DATA TABLE -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<button type="submit" class="btn btn-primary" ng-click="createBeacon()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button type="submit" class="btn btn-primary" ng-click="editFromSearch()">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="submit" class="btn btn-primary" ng-click="deleteBeacon(selectedBeacon)" ng-disabled="selectedBeacon==null">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
						<div class="panel-body">
							<div class="alert alert-warning" ng-show="showDeleteSuccess">Beacon excluído com sucesso!</div>
							<form class="form-inline">
								<table id="beacon_dataTable_search" datatable="ng" dt-options="dtOptions"
									dt-column-defs="dtColumnDefs" class="display table table-striped table-bordered row-border hover">
									<thead>
										<tr>
											<th></th>
											<th>Beacon</th>
											<th>Descrição</th>
											<th>Local</th>
											<th ng-show="hasRole('admin')">Major</th>
											<th ng-show="hasRole('admin')">Minor</th>
											<th ng-show="hasRole('admin')">Uuid</th>
										</tr>
									</thead>
									<tbody>
										<tr class="noselect" ng-repeat="beacon in beacons" ng-click="selectBeacon(beacon)" ng-dblclick="selectFromSearch(beacon)" style="cursor: pointer;">
											<td><input type="radio" ng-checked="selectedBeacon.idBeacon === beacon.idBeacon"></td>
											<td>{{ beacon.name }}</td>
											<td>{{ beacon.description }}</td>
											<td>{{ beacon.locale }}</td>
											<td ng-show="hasRole('admin')">{{ beacon.major }}</td>
											<td ng-show="hasRole('admin')">{{ beacon.minor }}</td>
											<td ng-show="hasRole('admin')">{{ beacon.uuid }}</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
			<!-- END SEARCH DATA TABLE -->
		        </div>
		        
		        <div ng-show="isSet(2)">
		
			<!-- NEW SCREEN -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<button title="Novo Beacon" type="submit" class="btn btn-default" 
									ng-click="createBeacon()" ng-disabled="disable==false">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<button title="Salvar Beacon" type="submit" class="btn btn-default" 
									ng-click="save(newBeacon)" ng-disabled="disable">
									<span class="glyphicon glyphicon-floppy-disk"></span>
								</button>
								<button title="Editar Beacon" type="submit" class="btn btn-default" ng-click="disable=false">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button title="Excluir Beacon" type="submit" class="btn btn-default" ng-click="cancel()">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</h3>
						</div>
						
						<div class="panel-body">
							<form role="form">
								<!-- UUID -->
								<div class="form-group row">
									<div class="col-md-8">
										<label class="control-label col-sm-5" for="uuid">UUID</label> 
										<input type="text" id="uuid" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.uuid" required="true">
									</div>
								</div>
				
								<!-- MAJOR AND MINOR -->
								<div class="form-group row">
									<div class="col-xs-4">
										<label class="control-label col-sm-5" for="major">Major ID</label>
										<input type="text" id="major" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.major" required="true" >
									</div>
									<div class="col-md-4">
										<label class="control-label col-sm-5" for="minor">Minor ID</label>
										<input type="text" id="minor" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.minor" required="true">
									</div>
								</div>
				
								<!-- NAME AND LOCAL -->
								<div class="form-group row">
									<div class="col-xs-4">
										<label class="control-label col-sm-5" for="name">Nome</label> 
										<input type="text" id="major" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.name" required="true">
									</div>
									<div class="col-md-4">
										<label class="control-label col-sm-5" for="locale">Local</label> 
										<input type="text" id="locale" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.locale" required="true">
									</div>
								</div>
				
								<!-- DESCRIPTION -->
								<div class="form-group row">
									<div class="col-md-8">
										<label class="control-label col-sm-5" for="description">Descrição</label>
										<input type="text" id="description" class="form-control"
											ng-disabled="disable" ng-model="newBeacon.description" required="true">
									</div>
								</div>
								
								<div id="ActivityData_id">
									<div class="page-header">
										<h4>Exibir</h4>
									</div>
									
									<!-- ACTIVITY TEXT -->
									<div class="form-group row">
										<div class="col-md-8">
											<label class="control-label col-sm-5" for="text">Texto a ser Exibido</label>
											<textarea id="text" rows="3" class="form-control" style="max-width: 855px; max-height: 110px;" 
												ng-model="newBeacon.activityData.text" ng-disabled="disable" required="true"></textarea>
										</div>
									</div>
									
									<div class="btn-image">
										<span title="Escolher Imagem" class="btn btn-default btn-file" ng-click="croppingImage=true" ng-disabled="disable">
											<span class="glyphicon glyphicon-picture"></span>
											<input type="file" id="fileInput" onchange="angular.element(this).scope().fileSelected=true"/>
										</span>
									</div>
									
								<!-- EXISTING IMAGE -->
									<div class="images-cropper" ng-if="newBeacon.activityData.imageUrl && fileSelected==false">
										<ul class="list-group panel-center panel-center-crop">
											<li class="list-group-item croppedArea">
												<img ng-src="{{newBeacon.activityData.imageUrl}}" />
											</li>
										</ul>
									</div>
									
								<!-- FILE CROP -->
									<div class="well" ng-if="fileSelected">
										<div class="btn-image">
											<button title="Editar Imagem" type="button" class="btn btn-default" ng-disabled="croppingImage" ng-click="croppingImage=true">
												<span class="glyphicon glyphicon-pencil"></span>
											</button>
											<button title="Recortar Imagem" type="button" class="btn btn-default" ng-disabled="croppingImage==false" ng-click="croppingImage=false">
												<span class="glyphicon glyphicon-scissors"></span>
											</button>
											<button title="Excluir Imagem" type="button" class="btn btn-default" ng-click="myImage='';myCroppedImage='';">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
											<div>
											  <input type="text" ng-show="false" ng-model="myCroppedImage" />
											</div>
											
										</div>
										<div class="images-cropper">
											<ul class="list-group panel-center" ng-show="croppingImage">
												<li class="list-group-item cropArea">
												  <img-crop image="myImage" result-image="$parent.myCroppedImage" 
												  	change-on-fly="true" area-type="square"></img-crop>
												</li>
											</ul>
											<ul class="list-group panel-center panel-center-crop">
												<li class="list-group-item croppedArea">
													<img ng-src="{{myCroppedImage}}" />
												</li>
											</ul>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
			<!-- END NEW SCREEN -->
		        </div>
		</section>
		
			<!-- MODAL TO EDIT AND CREATE BEACON
			<div class="beaconModal">
				<button ng-click="toggleModal()" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
		
				<modal title="Beacons" visible="showModal">
				<form role="form">
					<div class="form-group">
						
						<div class="panel panel-default">
							<div class="panel-body">
								<div>
									<form class="form-inline" ng-submit="addBeacon()">
										<table datatable="ng" dt-options="dtOptions"
											dt-column-defs="dtColumnDefs"
											class="row-border hover table-bordered">
											<thead>
												<tr>
													<th>Major</th>
													<th>Minor</th>
													<th>UUID</th>
												</tr>
											</thead>
											<tbody>
												<tr class="selectionRow" ng-repeat="beacon in beacons"
													ng-click="selectBeacon(beacon)">
													<td>{{ beacon.major }}</td>
													<td>{{ beacon.minor }}</td>
													<td>{{ beacon.uuid }}</td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
						
					</div>
		
					<div ng-show="selectedBeacon">
						<label for="tableSelectedBeacon">Beacon Selecionado</label>
						<table id="tableSelectedBeacon"
							class="row-border hover table table-bordered">
							<thead>
								<tr>
									<th>Major</th>
									<th>Minor</th>
									<th>UUID</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ selectedBeacon.major }}</td>
									<td>{{ selectedBeacon.minor }}</td>
									<td>{{ selectedBeacon.uuid }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<button type="button" ng-show="selectedBeacon"
						class="btn btn-primary" ng-click="ok()">OK</button>
					<button type="button" ng-show="selectedBeacon"
						class="btn btn-default" ng-click="clear()">Limpar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">Cancelar</button>
				</form>
				</modal>
			</div>
			<!-- END MODAL -->
		
		</div>
	</div>
</div>
<hr />